@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
  background-color: #e7ad99;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

body p {
  margin-top: 50px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px #ce796b;
  background: white;
}

.fill {
  background-image: url('https://source.unsplash.com/random/150x150');
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hold {
  border: solid 3px #ce796b;
}

.hovered {
  background-color: #c18c5d;
  border-color: #ecc8af;
  border-style: dashed;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}