@import url('https://fonts.googleapis.com/css2?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #333;
  letter-spacing: 1.5px;
  background: #f7ede2;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  margin: 0;
}

h3 {
  margin-bottom: 5px;
  margin-top: 25px;
  text-align: center;
  font-size: 1.5rem;
}

small {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1rem;
}

.fa-heart {
  color: red;
}

.loveMe {
  height: 440px;
  width: 300px;
  background: url('https://images.unsplash.com/photo-1710327853365-44a7ee42209f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MzZ8fHxlbnwwfHx8fHw%3D') no-repeat center center/cover;
  cursor: pointer;
  max-width: 100%;
  position: relative;
  border: 3px solid #333;
}

.loveMe .fa-heart {
  position: absolute;
  animation: grow 0.6s linear;
  transform: translate(-50%, -50%) scale(0);
}

@keyframes grow {
  to {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
  }
}