@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800;900&family=Roboto:wght@500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 60%;
  overflow: hidden;
}

.text {
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 6em;
  line-height: 0.9em;
  letter-spacing: 2px;
  text-align: center;
  transform: rotate(-28deg) skew(25deg);
}

.text::before {
  content: attr(data-text);
  position: absolute;
  top: 20px;
  left: -30px;
  color: rgba(0, 0, 0, 0.3);
  text-shadow: none;
  filter: blur(10px);
  z-index: -1;
}