@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800;900&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@500;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #15616d;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#text {
  font-size: 3.5rem;
  letter-spacing: 1px;
  transform: translateY(0);
  transition: 0.3s cubic-bezier(1, -0.55, 0.2, 1.5);
}