@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800;900&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@500;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #ffd6a5;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#text {
  font-size: 3rem;
  letter-spacing: 1px;
  transform: translateY(0);
  transition: 0.3s cubic-bezier(1, -0.55, 0.2, 1.5);
}

div {
  position: absolute;
  bottom: 300px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 2px;
  font-size: 18px;
}

input {
  width: 40px;
  padding: 5px;
  font-size: 15px;
  background-color: #ffd6a5;
  font-family: inherit;
  border: none;
  border-radius: 1px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}

input:focus {
  outline: none;
}
