body{
	margin: 0;
	font-size: 20px;
	line-height: 30px;
}

/*header styles*/
header{
	background-color: #546B2E;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
}

header h1{
	color: #EAECEE;
	font-size: 70px;
	margin: 35px;

}

h1, h2{
	font-family: 'Bungee', cursive;
}

h2{
	font-size: 35px;
	margin: 30px 0 10px;
}

header img{
	object-fit: cover;
	border-radius: 50%; 
	width: 250px;
	height: 250px;
	border: 20px solid;
}

/*main styles*/
main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}
main img{
	display: block;
	border: 5px solid;
	margin-left: auto;
  margin-right: auto;
  width: 100%;
}

p, ul, ol{
	color: #808B96;
}
a{
	color: #546B2E;
}
a:hover{
	color: #FFCCBC;
}

/*footer styles*/
footer{
	background-color: black;
	text-align: center;
	color: #EAECEE;
	padding: 30px
}
footer p{
	margin: 0;
}

footer a{
	color: white;
}	
footer a:hover{
	opacity: .5;
	background-color: transparent;
}
p.caption{
	color: #626567;
	margin-top: 0;
	text-align: center;
}

