@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f4f1de;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  font-size: 20px;
  background-color: #3d405b;
  color: #fff;
  font-family: inherit;
  font-weight: normal;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.fa-arrow-right {
  font-size: 18px;
}

#toasts {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toast {
  background-color: #fff;
  color: #9b59b6;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0.5rem;
}

.toast.info {
  background-color: #f2cc8f;
  color: #fff;
}

.toast.success {
  background-color: #81b29a;
  color: #fff;
}

.toast.error {
  background-color: #9e2a2b;
  color: #fff;
}